<meta charset="UTF-8">
<title>Hub Domotique Cuesmes</title>

<!-- CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">

<!-- Personal  CSS -->
<link rel="stylesheet" href="css/style_perso.css">

<!-- Font awesome CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery/jquery-2.1.1.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- Bootstrap Dialog -->
<script src="js/bootstrap/bootstrap-dialog.js"></script>

<style>
	body 	{ padding-top:50px; }
</style>