<!DOCTYPE html>
<html lang="fr">
<head>
	<% include ../partials/header %>
</head>
<body class="container-fluid">

	<header>
		<% include ../partials/navbar %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-9">
			
				<div class="jumbotron">
					<center>
					<h1>A Propos</h1>
					<p>Serveur Node js pour inter-connecter : <br> 
						<ul>
						  <li>Linknx</li>
						  <li>Zibase</li>
						  <li>HC2 Fibaro</li>
						  <li>Module Domo Perso</li>
						  <li>Module Arduino</li>
						</ul>
					</p>
					</center>
				</div>
				
			</div>
			<div class="col-sm-3">
				
				<div class="well">
					<h3>Technologies</h3>
					<p>
						<ul>
						  <li>KNX - Linknx</li>
						  <li>Zwave - Fibaro HC2</li>
						  <li>RFX433 - Zibase</li>
						  <li>RFX433 Perso - Module Domo Perso</li>
						  <li>IP - Module Arduino</li>
						</ul>
					</p>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-3">
					
					<div class="well">
						<h3>Infos</h3>
						<p>
							
							<address>
							  <strong>Jarvis Cuesmes</strong><br>
							  Rue de l'Espinette, 255<br>
							  7033, Cuesmes<br>
							  Belgique <br>
							  <abbr title="Phone">P:</abbr> (+32) (0)65680214
							</address>

							<address>
							  <strong>Jarvis</strong><br>
							  <a href="mailto:#">jarvis.cuesmes@gmail.com</a>
							</address>


						</p>
					</div>

				</div>
			</div>

			
		</div>
	</main>

	<footer>
		<script type="text/javascript">
 			$( document ).ready(function() {
 				
  			});
		</script>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>