<!DOCTYPE html>
<html lang="fr">
<head>
	<% include ../partials/header %>
</head>
<body class="container-fluid">

	<header>
		<% include ../partials/navbar %>
	</header>

	<main>
		<div class="jumbotron">
			<center>
			<h1>Configuration Pooling</h1>
			<p>Configuration des Pooling pour les objets sans Notification</p>
			</center>
		</div>

		<div class="jumbotron">
			<div class="row cadre">
				<center>
					<h2 class="titre_cadre">Polling Linknx</h2>
					<p id="p_polling_linknx">
				 		<!-- 
							
							injection du code ici

				 		-->
				 	</p>
				 	<p id="p_polling_linknx_add">
				 		<!-- 
							
							injection du code ici

				 		-->
				 	</p>
			 	</center>
			</div>
		</div>


		<div class="jumbotron">
			<div class="row cadre">
				<center>
					<h2 class="titre_cadre">Polling Zibase</h2>
					<p id="p_polling_zibase">
				 		<!-- 
							
							injection du code ici

				 		-->
				 	</p>
				 	<p id="p_polling_zibase_add">
				 		<!-- 
							
							injection du code ici

				 		-->
				 	</p>
			 	</center>
			</div>
		</div>


	</main>

	<footer>
		<script src="js/domotique/domo_config_pooling.js"></script>
		<script type="text/javascript">
 			$( document ).ready(function() {
 				start_config();
 				
  			});
		</script>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>
